@model AngSoz.BirthdayManager.Web.Models.Presente

@{
    ViewData["Title"] = "Detalhes do Presente";
}

<div class="col-md-8 col-lg-9">
    <h3 class="title-table"><strong>@ViewData["Title"]</strong></h3>
    <div class="block">
        <div class="block-title">

            <ul class="nav nav-tabs" data-toggle="tabs">
                <li class="active"><h4>Presente do(a) <strong> @Model.Pessoas.Nome @Model.Pessoas.SobreNome</strong></h4></li>
            </ul>

        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="tickets-list">
                <div class="block-content-full">
                    <div class="table-responsive remove-margin-bottom">

                        <table class="table table-striped table-vcenter remove-margin-bottom">
                            <tbody>

                                <tr>
                                    <td class="text-left">Nome do presente:</td>
                                    <td>@Model.NomePresente</td>
                                </tr>

                                <tr>
                                    <td class="text-left">Valor do presente:</td>
                                    <td>R$ @Model.ValorPresente </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="pull-right" style="padding:10px;">
                            <a class="btn themed-background-creme" asp-action="Editar" asp-route-id="@Model.Id">Editar</a>
                            <a class="btn themed-background-success" asp-action="Index"><i class="fa fa-undo"></i> Voltar para lista de presente</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
